<a href="https://colab.research.google.com/github/Flying-flash/Data-Structures/blob/main/Basics%20of%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
g = ['I', 'am', 'number', 1, 'superstar']

In [41]:
h = ' '.join(map(str,g))

In [42]:
i =list(h)

In [25]:
' '.join(i)

'I   a m   n u m b e r   1   s u p e r s t a r'

In [27]:
h

'I am number 1 superstar'

In [10]:
#method to use function on each and every element of the list

In [2]:
def addition(n):
    return n+n

In [3]:
a = addition(4)

In [6]:
c = [2,3,4]

In [7]:
d = map(addition,c)

In [9]:
list(d)

[4, 6, 8]

In [11]:
#Different Methods to join strings and numbers

In [12]:
d = "abc"

In [13]:
list(d) # to convert string into list

['a', 'b', 'c']

In [14]:
e = ["I", "am", "a", "superstar"]

In [18]:
str(e) # converted list of strings into a string but we want the strings inside the list to be converted into a list

"['I', 'am', 'a', 'superstar']"

In [20]:
' '.join(e) # to convert the strings inside the list into a statement (The resultant statement is also one whole string)

'I am a superstar'

In [37]:
e = ["I", "am", "number",1, "superstar"]

In [23]:
' '.join([str(i) for i in e]) # as the string contains number and characters we need to convert the contents(both numberical and strings) into string

'I am number 1 superstar'

In [51]:
f = ' '.join(map(str,e)) # joing a mixed list using map function

In [52]:
fi =list(f)

In [53]:
g = ' '.join(fi)

In [57]:
g

'I   a m   n u m b e r   1   s u p e r s t a r'

In [60]:
op= "I am a superstar"
a = list(op)
' '.join(a) # join joins each element in the list with a seperation between them

'I   a m   a   s u p e r s t a r'

In [61]:
#to access elements in the list
a =[1,2,3,4,5,6,7,8,9]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9

In [62]:
#to access index in the list
for i in range(len(a)):
  print(i)

0
1
2
3
4
5
6
7
8